h1{
	color:orange;
	text-align: right;
}
p:first-letter{
	color:red;
	font-size: 30px;
}
p>em{
	background-color: green;
	color:white;
}
/*-----------list-----------------*/
#allotment h2{
	color:orange;
}
.vegetables-list {
	color:red;
}
#warehouse h2{
	color:blue;
}
#warehouse .fruits-list{
	color:green;
}
.plants-list ul > li {
	font-weight: bold;
}
#allotment .fruits-list,
#allotment .vegetables-list,
#warehouse .fruits-list,
#warehouse .vegetables-list {
	font-weight: normal;
}
/*----------Table--------------*/
thead{
	font-weight: bold;
	text-align: center;
}
tbody td:first-child{
	color:orange;
	text-align: left;
}
tbody td:nth-child(n+2){
	background-color: green;
	text-align: center;
	color:white;

}